In [1]:
import pandas as pd
import os 
import scattertext
import spacy

In [2]:
review_star_1 = pd.read_csv('review_1_filtered_food.csv')
review_star_5 = pd.read_csv('review_5_filtered_food.csv')

In [3]:
review_star_1['rating'] = 'Low Rating'
review_star_5['rating'] = 'High Rating'

In [36]:
combined = pd.concat([review_star_1.sample(frac=0.1, replace=False, random_state=42), review_star_5.sample(frac=0.1, replace=False, random_state=42)])

In [38]:
print(len(review_star_1))
print(len(review_star_5))
len(combined)

122902
151921

13741

In [39]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
corpus_dataframe = combined

corpus = (scattertext.CorpusFromPandas(combined,
                                       category_col='rating', 
                                       text_col='text',
                                       nlp=nlp)
          .build()
          .remove_terms(nlp.Defaults.stop_words, ignore_absences=True)
          )


html = scattertext.produce_scattertext_explorer(
                   corpus,
                   category='Low Rating',
                   category_name='Low Rating',
                   not_category_name='High Rating',
                   width_in_pixels=1000)
#                    metadata=corpus_dataframe['name'])

In [ ]:
import numpy as np
with open("scattertext_10.html", "w") as f:
    f.write(html)
    f.close()

In [8]:
def term_freq(df_yelp):
    corpus = (scattertext.CorpusFromPandas(df_yelp,
                                           category_col='rating', 
                                           text_col='text',
                                           nlp=nlp)
              .build()
              .remove_terms(nlp.Defaults.stop_words, ignore_absences=True)
              )
    df = corpus.get_term_freq_df()
    df['High_Rating_Score'] = corpus.get_scaled_f_scores('High Rating')
    df['Low_Rating_Score'] = corpus.get_scaled_f_scores('Low Rating')
    df['High_Rating_Score'] = round(df['High_Rating_Score'], 2)
    df['Low_Rating_Score'] = round(df['Low_Rating_Score'], 2)
    
    df_high = df.sort_values(by='High Rating freq', 
                             ascending = False).reset_index()
    df_low = df.sort_values(by='Low Rating freq', 
                            ascending=False).reset_index()
    return df_high, df_low

In [17]:
df_high, df_low = term_freq(combined)

In [18]:
df_high

,term,Low Rating freq,High Rating freq,High_Rating_Score,Low_Rating_Score
0,food,128,93,0.10,0.90
1,place,65,72,0.85,0.15
2,time,42,70,0.90,0.10
3,of the,47,65,0.88,0.12
4,great,16,61,0.96,0.04
...,...,...,...,...,...
23364,few minutes,2,0,0.31,0.69
23365,entered,1,0,0.45,0.55
23366,he asked,1,0,0.45,0.55
23367,your order,1,0,0.45,0.55
23368,done though,1,0,0.45,0.55